<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Test shop</title>
    <link rel="stylesheet" href="css/style.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>

<body data-ng-app="myApp">

<header>
    <nav>
        <span class="fa-bars"></span>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Contacts</a></li>
        </ul>
    </nav>
    <div class="search">
        <span class="fa-search"></span>
        <input type="text" value="" title="" placeholder="Search" />
    </div>
    <div class="shopping-cart">
        <span class="fa-shopping-cart"></span>
    </div>
</header>


<section class="models-list" data-ng-controller="MainController">
    <div class="model-block" data-ng-repeat="(pIndex, product) in products">
        <div class="model-info">
            <a href="">
                <img data-ng-src="{{ ::product.image }}" alt="" />
                <b>{{ ::product.name }}</b>
            </a>
            <ul>
                <li data-ng-repeat="pInfo in ::products[pIndex].infoList">{{ pInfo.info }}</li>
            </ul>
        </div>
        <div class="model-price">
            Price: <span>{{ product.price | currency }}</span> + {{ product.shipping | currency }} shipping
        </div>
        <p class="model-cart">
            <button data-ng-click="addCard($index, $event)">
                <span class="fa-cart-plus"></span>
                {{ product.cardTxt }}
            </button>
        </p>
        <div class="model-stock">
            Only <span class="stock-count">{{ ::product.left }}</span> left in stock
        </div>
    </div>
</section>

<script src="js/app.js"></script>
<script src="js/controllers/MainController.js"></script>

</body>
</html>
