html,
body {
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: 300;
}
.bold {
    font-weight: 500;
}
.dnone {
    display: none !important;
}
h1 {
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 10px;
    color: darken($raven, 10%);
}
header {
    width: 100%;
    height: 50px;
    background-color: $raven;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    [class^='#{$fa-css-prefix}-'] {
        color: $white;
    }
    nav {
        width: 150px;

        .fa-bars {
            height: 50px;
            width: 40px;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            user-select: none;
            background-color: $raven;
            transition: 0.3s background-color;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: lighten($raven, 7%);
            color: $white;
            transition: 0.3s all;

            a {
                display: block;
                color: $white;
                text-decoration: none;
                padding: 5px 10px;

                &:hover {
                    background-color: $tahiti-gold;
                }
                &.active {
                    background-color: $raven;
                    cursor: default;
                }
            }
        }

        &.hide-menu {
            ul {
                display: none;
            }
        }
        &.show-menu {
            ul {
                display: block;
            }
            .fa-bars {
                background-color: lighten($raven, 7%);
            }
        }
    }
    .search {
        position: absolute;
        top: 12px;
        right: 85px;

        input {
            width: 160px;
            border: none;
            font-size: 14px;
            padding: 5px 5px 5px 28px;
            border-radius: 10px;
            transition: 0.5s width;
            outline: none;

            &:focus {
                width: 210px;
            }
        }
        span {
            position: absolute;
            top: 4px;
            left: 5px;
            font-size: 17px;
            color: lighten($raven, 25%);
        }
    }
    .shopping-cart {
        position: absolute;
        top: 14px;
        right: 35px;

        .cart-count + .fa-shopping-cart {
            cursor: pointer;
            transition: 0.3s color;

            &:hover {
                color: lighten($tahiti-gold, 10%);
            }
        }
    }
    .cart-count {
        position: absolute;
        top: -7px;
        right: -11px;
        display: inline-block;
        padding: 1px 5px;
        background-color: $tahiti-gold;
        color: $white;
        font-size: 11px;
        border-radius: 10px;
        cursor: pointer;
    }
    .cart-products {
        position: absolute;
        top: 40px;
        right: -20px;
        width: 320px;
        z-index: 1;
        background-color: $white;
        border: 1px solid $raven;
        box-shadow: 2px 3px 4px rgba($raven, 0.5);
        box-sizing: border-box;

        &.hide {
            display: none;
        }
        &.show {
            display: block;
            transform: translateY(10px);
            animation: cart-show 0.3s ease-out;
            animation-fill-mode: both;
        }

        &:after,
        &:before {
            position: absolute;
            bottom: 100%;
            right: 30px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            pointer-events: none;
            box-shadow: 0 1px 0 $white;
        }
        &:after {
            right: 16px;
            border: 12px solid transparent;
            border-bottom-color: $white;
            margin-left: -12px;
        }
        &:before {
            right: 15px;
            border: 13px solid transparent;
            border-bottom-color: $raven;
            margin-left: -13px;
        }
    }
    .cart-products-in {
        padding: 15px;
        overflow-y: auto;
    }
    .model-block-cart {
        padding-bottom: 15px;
        color: $raven;
        position: relative;

        img {
            width: 50px;
            margin-left: -65px;
            float: left;
        }
        .model-info {
            padding: 0 35px 0 65px;
        }
        b {
            font-size: 14px;
        }
        p {
            margin-top: 5px;
            font-size: 13px;
            user-select: none;
        }
        .count {
            width: 30px;
            padding: 2px 4px;
            border: 1px solid lighten($raven, 30%);
            border-radius: 2px;
            color: $raven;
            text-align: center;
            vertical-align: middle;
        }
        .fa-minus,
        .fa-plus {
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: lighten($bilbao, 10%);
            vertical-align: middle;
            opacity: 0.5;
            cursor: pointer;
            transition: 0.3s opacity;
            user-select: none;

            &:hover {
                opacity: 1;
            }
            &.disabled {
                color: lighten($raven, 35%);
                opacity: 0.5;
                cursor: default;
            }
        }
        .price {
            font-size: 15px;
            color: $dark-red;
            font-weight: bold;
        }
        .fa-remove {
            position: absolute;
            top: 0;
            right: 0;
            width: 16px;
            height: 16px;
            opacity: 0.5;
            color: $red;
            line-height: 16px;
            cursor: pointer;
            transition: 0.3s opacity;

            &:hover {
                opacity: 1;
            }
        }
        &:not(:first-child) {
            padding-top: 15px;
            border-top: 1px solid lighten($raven, 25%);

            .fa-remove {
                top: 15px;
            }
        }
    }
    .cart-total {
        text-align: center;
        position: relative;
        padding-top: 15px;

        .price {
            font-size: 15px;
            color: $dark-red;
            font-weight: bold;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 10%;
            width: 80%;
            height: 1px;
            background-color: lighten($raven, 25%);
            font-size: 0;
            line-height: 0;
        }
    }
}
.models-list {
    max-width: 700px;
    margin: 0 auto;
    padding: 75px 30px 25px;
}
.model-block {
    border: 1px solid lighten($raven, 25%);
    border-radius: 5px;
    margin: 0 0 20px;
    padding: 20px;
    color: $raven;
    position: relative;

    b {
        font-size: 17px;
    }
    ul {
        padding: 0 0 0 30px;
    }
    .model-info {
        @include clearfix();
        padding: 10px 130px 0;

        a {
            text-decoration: none;
            color: $raven;
            transition: 0.3s all;

            &:hover {
                color: darken($raven, 10%);
                text-decoration: underline;
            }
        }
        img {
            float: left;
            margin: -5px 0 0 -130px;
            width: 100px;
        }
    }
    .model-price {
        @include clearfix();
        margin: 0 0 -15px 0;
        padding: 5px 0 0;

        .price {
            font-size: 18px;
            color: $dark-red;
            font-weight: bold;
        }
    }
    .model-cart {
        text-align: right;
    }
    button {
        padding: 8px 40px 8px 67px;
        border: 0;
        border-radius: 4px;
        background-color: $tahiti-gold;
        font-size: 17px;
        color: $white;
        font-weight: 600;
        position: relative;
        cursor: pointer;
        outline: none;
        transition: 0.3s background-color;

        .fa-cart-plus {
            position: absolute;
            top: 6px;
            left: 20px;
        }
        &:hover {
            background-color: darken($tahiti-gold, 10%);
        }
        &.disabled{
            background-color: lighten($raven, 30%);
            cursor: default;
        }
    }
    .model-stock {
        position: absolute;
        top: 8px;
        right: 10px;
        font-size: 16px;
        color: $bilbao;
    }
}
.no-results {
    margin-top: 40px;
    color: $raven;
    font-size: 30px;
    font-weight: 600;

    &:before {
        content: '';
        display: inline-block;
        width: 95px;
        height: 74px;
        background: url('#{$img-path}/sad.jpg') -10px 50% no-repeat;
        background-size: 100px;
        opacity: 0.8;
        vertical-align: middle;
    }
}

@keyframes cart-show {
    0% {
        display: block;
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
